* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
}
.container {
	max-width: 400px;
	margin: auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 359px;
}
h1 {
	text-align: center;
	margin-bottom: 20px;
}
button {
	background-color: #25D366;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
